
body {
    user-select: none;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    overflow: hidden;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #ffc909;
    font-family: 'Roboto', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 300px;
  }
  .text {
    width: 1500px;
  }
  
  .slide {
    position: relative;
    transform-origin: 50% 100%;
    animation: slide 30s linear infinite;
  }
  
  .title {
    font-size: 90%;
    text-align: center;
  }
  
  .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes slide {
    0% {
        top: 550px;
        transform: rotateX(20deg)  translateZ(0);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% { 
        top: -4800px;
        opacity: 0;
        transform: rotateX(25deg) translateZ(-2500px);
    }
  } 